[Unit]
Description=Lucidum Jumpbox Tunnel Service Primary
After=network.target

[Service]
User=ubuntu
Environment=CUSTOMER_PORT=3001
Environment=CUSTOMER_USER=customer
Environment=LUCIDUM_JUMPBOX=jumpbox1.lucidum.io
ExecStart=/usr/bin/ssh -NT -o ServerAliveInterval=60 -o ExitOnForwardFailure=yes -R ${CUSTOMER_PORT}:localhost:22 ${CUSTOMER_USER}@${LUCIDUM_JUMPBOX}
StandardOutput=journal
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
